<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <header>
            <div><img src="/public/images/logo-mercado-liebre.svg" alt="logo mercado liebre"></div>
            <div>Lugar para poner barra de busqueda</div>
            <div>Compra en cuotas y sin tarjeta de credito</div>
            <nav>
                <div class="nav-gral">
                    <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </div>
                <div class="nav-usuario">
                    <ul>
                        <li><a href="#">Creá tu cuenta</a></li>
                        <li><a href="#">Ingresá</a></li>
                        <li><a href="#">Mis compras</a></li>
                    </ul>
                </div>
            </nav>
        </header>

    </header>
    <main>
        <section>
            <p>Basado en tu ultima visita</p>
            <img src="/public/images/img-cafetera-moulinex.jpg" alt="" width="100px" height="100px">
            <p>$6.770</p>
            <p>40% OFF</p>
            <img src="/public/images/img-macbook-pro-2019.jpg" alt="" width="100px" height="100px">
            <p>$230.000</p>
            <p>20% OFF</p>
            <img src="/public/images/img-samsung-galaxy-s10.jpg" alt="" width="100px" height="100px">
            <p>$70.500</p>
            <p>10% OFF</p>
            <img src="/public/images/img-tv-samsung-smart.jpg" alt="" width="100px" height="100px">
            <p>$23.200</p>
            <p>5% OFF</p>
        </section>
        <section>
            <p>Sección de ofertas</p>
            <img src="/public/images/img-cafetera-moulinex.jpg" alt="" width="100px" height="100px">
            <p>$6.770</p>
            <p>40% OFF</p>
            <img src="/public/images/img-macbook-pro-2019.jpg" alt="" width="100px" height="100px">
            <p>$230.000</p>
            <p>20% OFF</p>
            <img src="/public/images/img-samsung-galaxy-s10.jpg" alt="" width="100px" height="100px">
            <p>$70.500</p>
            <p>10% OFF</p>
            <img src="/public/images/img-tv-samsung-smart.jpg" alt="" width="100px" height="100px">
            <p>$23.200</p>
            <p>5% OFF</p>
        </section>
    </main>
    <footer>
        <section>
            <b>Paga con tarjeta o en efectivo</b>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>

            <b>Envío gratis desde $2.500</b>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos</p>

            <b>Seguridad de principio a fin</b>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>

            <p>Copyright ©️ 1999-2020 MercadoLiebre S.R.L</p>
        </section>

    </footer>
</body>

</html>