<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!-- estilos -->
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/styleMisCompras.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/f4d1904851.js" crossorigin="anonymous"></script>
    <!-- fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="header-top-search-logo">
                <div class="div-logo">
                    <a href="/"><img class="logo" src="/public/images/logo-mercado-liebre.svg"
                            alt="logo mercado liebre"></a>
                </div>
                <div class="container-bar-search">
                    <form class="search-bar" action="" method="post">
                        <input type="text" name="search-bar" id="input-search-bar"
                            placeholder="Buscar productos, marcas">
                        <button type="submit" class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>

            <h2 class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de
                crédito</h2>
        </div>

        <a class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-nav-bar">
            <ul class="left-nav-bar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="rigth-nav-bar">
                <li><a href="/registro">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/miscompras">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

    </header>

    <div class="home-banner">
        <img src="/public/images/img-home-banner.jpg" alt="banner-mercado-liebre" srcset="">
    </div>

    <main>
        <section class="section-main-carrito">
            En Desarrollo
        </section>
    </main>
    <footer>
        <p class="copyrigth">Copyright ©️ 1999-2022 MercadoLiebre S.R.L</p>
    </footer>


</body>

</html>