<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Cliente</title>
</head>
<body>

<h2>Formulario de Creación de un Cliente</h2>

<form action="/submit_client_form" method="post">
    <label for="fname">Nombre Completo:</label><br>
    <input type="text" id="fname" name="fname" required><br>
    
    <label for="address">Dirección:</label><br>
    <input type="text" id="address" name="address" required><br>
    
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    
    <input type="submit" value="Crear">
    <input type="reset" value="Cancelar">
</form>

</body>
</html>