main {
    display: flex;
    justify-content: center;
}

.container-register {
    width: 60%;
}

.form-register {
    display: flex;
    flex-direction: column;
}

.input-registro {
    border: 0;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.input-registro:invalid {
    color: #191919;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.64);
}
.input-registro:valid {
    color: #191919;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(8, 96, 26, 0.64);
}

.input-registro:focus .feedback{
    display: block;
}

.feedback{
    color: darkred;
    display: none;
}
.feedback, .feedback-confirmedPassword {
    color: darkred;
    display: none;
}
.input-registro-file {
    margin-bottom: 15px;
}

.perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.categoria-interes {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.btn-send-reset {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
.btn-send-reset>input{
    width: 20%;
}
.btn-send-reset>.btn-red:hover{
    background-color: firebrick;
    color:#ffffff;
    transition:all,0.5s;
}
.btn-send-reset>.btn-blue:hover{
    background-color: rgb(0, 83, 171);
    color:#ffffff;
    transition:all,0.5s;
}

.btn-blue {
    background-color: rgb(88, 115, 145);
    padding: 8px;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 5px;
}

.btn-red {
    background-color: rgb(168, 97, 97);
    padding: 8px;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 5px;
}
